body {
  cursor: none;
}

.cursor-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
}

.cursor-animation__title {
  font-weight: 700;
  font-size: vw(45);
  text-transform: uppercase;
  color: darkcyan;
}

.cursor-animation__cursor {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: vw(20);
  height: vw(20);
  z-index: 1000;
  background-color: #2696e8;
  box-shadow: 0 0 20px #2696e8, 0 0 60px #2696e8, 0 0 100px #2696e8;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: colors 5s infinite;

  &::before {
    content: '';
    position: absolute;
    background-color: #2696e8;
    width: vw(50);
    height: vw(50);
    opacity: 0.2;
    border-radius: 50%;
  }
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
